doctype html
head
  title Create Your Own
  style.
    body {
        margin: 0;
    }
    #page {
        background-color: rgba(45, 141, 136, 0.796);
        width: 100vw;
        height: 100vh;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #container {
        width: 65%;
        height: 65%;
        display: inherit;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: rgba(75, 8, 70, 0.823) 8px 14px 22px;
        background-color: whitesmoke;
        border-radius: 18px;
        font-size: 18px;
    }
    #container div {
        height: fit-content;
        width: fit-content;
        display: inherit;
        text-align: center;
    }
    div input {
        margin-top: 6px;
        display: block;
        width: 475px;
    }
    #grabBtn {
        margin-top: 6px;
    }

#page
    #container
        form(method='POST' action=`/user/create-quiz/${userId}`)
            div
                label What will you call this quiz?
                input(type="text", name="category", placeholder="arithmetic")
                br
            div
                label Type your question here:
                input(type='text' name="question" placeholder='What is 2 + 2?')
                br
            div
                label Provide some answer options:
                input(type='text' name="options" placeholder='Six,three,four,two    (separate each with a comma, no spaces between)')
                br
            div
                label Finally, specify the correct answer &amp; answer number
                input(type='text' name="correct" placeholder='four')
                input(type='text' name="answNum" placeholder='3                              (number of answer from options provided)')
                br
            div 
                button(type="submit" id="grabBtn") Submit!